// Small tablets and large smartphones
$screen-sm-max: 576px;

// Small tablets
$screen-md-max: 768px;

// large tablets
$screen-lg-max: 900px;

// large tablets
$screen-xlg-max: 1170px;

// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-max}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-max}) {
    @content;
  }
}

// X Large devices
@mixin xlg {
  @media (max-width: #{$screen-xlg-max}) {
    @content;
  }
}
