@import "_mixins";
@import "_breakpoints";

@include font-face(Montserrat, fonts/Montserrat-Thin, 100, thin, woff2 woff);
@include font-face(Montserrat, fonts/Montserrat-Light, 300, light, woff2 woff);
@include font-face(
  Montserrat,
  fonts/Montserrat-Medium,
  500,
  normal,
  woff2 woff
);
@include font-face(
  Montserrat,
  fonts/Montserrat-ExtraBold,
  800,
  bold,
  woff2 woff
);

$color: #222;
$bg_color: #fff;
$white: #fff;
$dark-blue: #2c303d;
$dark-grey: #5c5c5c;
$night-grey: #2a2a2a;
$light-blue: #b2c4ff;

*:focus {
  outline: none;
}

body {
  width: 100%;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: $color;
  background: $bg_color;
}

.mobile {
  margin: 0;
  padding: 0;
  display: none;
  @include sm {
    z-index: 1100;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    height: 70px;
    &__top {
      z-index: 1500;
      height: 70px;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: 1px 41px 24px -34px rgba(0, 0, 0, 0.75);
      &__logo {
        width: 170px;
      }
      &__btn {
        margin-right: 20px;
        width: 30px;
        height: 30px;
      }
    }
    &__menu {
      z-index: 1100;
      transition: all 0.5s ease;
      position: absolute;
      top: -1000px;
      width: 100%;
      background: #fff;
      padding: 20px 0;
      &.active {
        top: 68px;
      }
      &__item {
        list-style: none;
        margin-bottom: 20px;
        text-align: center;
        & a {
          color: #333;
          font-size: 30px;
        }
      }
    }
  }
}

.top {
  background: $dark-blue url(../img/head-background.jpg);
  min-height: 700px;
  background-size: cover;
  &__header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 170px;
    background: rgba(1, 1, 1, 1);
    background: -webkit-linear-gradient(
      top,
      rgba(1, 1, 1, 1),
      rgba(1, 1, 1, 0)
    );
    background: -moz-linear-gradient(top, rgba(1, 1, 1, 1), rgba(1, 1, 1, 0));
    background: linear-gradient(to bottom, rgba(1, 1, 1, 1), rgba(1, 1, 1, 0));
    @include sm {
      height: 90px;
      display: none;
    }
    &__container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      padding-top: 10px;
      @include sm {
        display: none;
      }
      &__logo {
        & img {
          width: 250px;
          margin-left: -30px;
          @include md {
            width: 200px;
            margin-left: 0;
          }
        }
      }
      &__menu {
        @include sm {
          display: none;
        }
        & li {
          list-style: none;
          display: inline-block;
          margin-right: 30px;
          @include md {
            margin-right: 20px;
          }
          &:last-child {
            margin-right: 0;
          }
          & a {
            color: $white;
            text-decoration: none;
            font-size: 18px;
            @include md {
              font-size: 17px;
            }
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  &__body {
    padding: 180px 0 150px;
    @include md {
      padding: 110px 0 110px;
    }
    &__container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      @include lg {
        flex-direction: column;
      }
      &__info {
        width: 42%;
        display: flex;
        flex-direction: column;
        @include lg {
          width: 100%;
          margin-bottom: 40px;
        }
        &__title {
          font-size: 41px;
          color: $white;
          margin-bottom: 20px;
          @include md {
            font-size: 37px;
          }
        }
        &__text {
          font-size: 16px;
          line-height: 22px;
          color: $white;
          margin-bottom: 40px;
          font-weight: 300;
        }
        &__btn {
          @include lg {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
      &__video {
        z-index: 91;
        display: flex;
        justify-content: flex-end;
        width: 550px;
        height: 310px;
        @include xlg {
          width: 420px;
          height: 240px;
        }
        @include lg {
          width: 420px;
          height: 220px;
        }
        @include sm {
          width: 290px;
          height: 160px;
        }
        &__lite {
          z-index: 90;
          width: 550px;
          height: 310px;
          box-shadow: -5px 58px 84px 3px rgba(0, 0, 0, 0.75);
          @include xlg {
            width: 470px;
            height: 240px;
          }
          @include lg {
            width: 460px;
            height: 240px;
          }
          @include sm {
            width: 290px;
            height: 160px;
          }
        }
      }
    }
  }
}

#reginfo {
  width: 100%;
  margin: 15px 0;
  text-align: center;
}

.features {
  display: flex;
  flex-direction: row;
  @include lg {
    flex-direction: column;
  }
  &__content {
    width: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    @include lg {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-bottom: 40px;
    }
    &__table tr td {
      border-bottom: 2px solid $dark-blue;
      font-size: 16px;
      font-weight: 300;
      padding: 5px 10px;
    }
    &__braket {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 0;
      margin: 0;
      padding: 0;
      color: $light-blue;
      font-weight: 300;
      font-size: 300px;
      @include md {
        display: none;
      }
    }
  }
  &__video {
    display: flex;
    justify-content: flex-end;
    width: 45%;
    @include lg {
      justify-content: center;
      width: 100%;
    }
    &__lite {
      width: 600px;
      height: 290px;
      @include xlg {
        width: 500px;
        height: 240px;
      }
      @include lg {
        width: 460px;
        height: 240px;
      }
      @include sm {
        width: 290px;
        height: 160px;
      }
    }
  }
}

.block {
  background: #ffffff;
  background: -webkit-linear-gradient(top, #ffffff, #f4f5fb);
  background: -moz-linear-gradient(top, #ffffff, #f4f5fb);
  background: linear-gradient(to bottom, #ffffff, #f4f5fb);
  padding: 100px 0;
  @include md {
    padding: 50px 0;
  }
  &-dark {
    color: $white;
    background: $dark-blue;
  }
  &__header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
      color: $dark-blue;
      font-weight: 800;
      font-size: 47px;
      margin-bottom: 15px;
      @include sm {
        font-size: 31px;
      }
      &-light {
        color: $light-blue;
      }
    }
    &__text {
      color: $dark-grey;
      font-weight: 300;
      font-size: 18px;
      max-width: 920px;
      margin-bottom: 45px;
      &-light {
        color: $light-blue;
      }
    }
  }
}

.brands {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  & img {
    width: 150px;
    align-self: center;
    @include md {
      width: 100px;
    }
    @include md {
      width: 50px;
    }
  }
}

.request-form {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 50px 0 80px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include md {
    flex-direction: column;
  }
  input[type="text"],
  input[type="email"] {
    border: none;
    padding: 0 20px;
    width: 310px;
    margin: 0 0 20px 0;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: $dark-grey;
    @include md {
      margin-bottom: 20px;
    }
    @include sm {
      width: 280px;
    }
  }
}

.cta-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 70px 0 40px;
  @include sm {
    padding: 20px 0 30px;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  width: 250px;
  height: 50px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  &-light {
    border: 2px solid $dark-blue;
    color: $dark-blue;
  }
  &-color {
    color: $white;
    border: none;
    background: #e57a08;
    background: -webkit-linear-gradient(left, #e57a08, #df61da);
    background: -moz-linear-gradient(left, #e57a08, #df61da);
    background: linear-gradient(to right, #e57a08, #df61da);
    -webkit-transition: background 1s ease-out;
    -moz-transition: background 1s ease-out;
    -o-transition: background 1s ease-out;
    transition: background 1s ease-out;
    &:hover {
      background: -webkit-linear-gradient(right, #e57a08, #df61da);
      background: -moz-linear-gradient(right, #e57a08, #df61da);
      background: linear-gradient(to left, #e57a08, #df61da);
    }
  }
  &-long {
    width: 310px;
  }
}

.footer {
  background: $night-grey;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  &__logo {
    &__img {
      //TODO!!!
      margin-left: -50px;
      width: 200px;
    }
  }
  &__menu {
    margin-bottom: 50px;
    @include md {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    &__item {
      list-style: none;
      text-align: center;
      display: inline-block;
      @include md {
        text-align: center;
        width: 50%;
        display: inline-block;
        margin-bottom: 20px;
      }
      & a {
        display: inline-block;
        width: 100%;
        text-align: center;
        text-decoration: none;
        color: #fff;
        &:hover {
          text-decoration: underline;
        }
        &::after {
          content: "|";
          padding: 0 20px;
          @include md {
            content: "";
            padding: 0;
          }
        }
      }
    }
    &__item:last-child {
      & a {
        &::after {
          content: none;
        }
      }
    }
  }
  &__divider {
    border-bottom: 2px solid #999;
    width: 400px;
    margin-bottom: 40px;
    @include md {
      width: 200px;
    }
  }
  &__social {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    &__item {
      display: inline-block;
      list-style: none;
      & a {
        background: $white;
        width: 50px;
        height: 50px;
        margin-right: 15px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      & img {
        width: 20px;
      }
    }
    &__item:last-child {
      a {
        margin-right: 0;
      }
    }
  }
  &__contacts {
    text-align: center;
    @include sm {
      max-width: 300px;
    }
  }
}

.advantages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  &__item {
    width: 28%;
    margin-bottom: 50px;
    padding: 10px 20px;
    @include md {
      width: 45%;
      margin-bottom: 100px;
    }
    @include sm {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__img {
      width: 80px;
      @include md {
        width: 180px;
        margin: 0 auto;
      }
    }
    &__title {
      color: $dark-blue;
      font-size: 24px;
      margin: 15px 0;
      font-weight: 800;
      &:after {
        margin: 5px 0 15px;
        display: block;
        content: "";
        height: 2px;
        width: 50px;
        border-bottom: 5px solid violet;
        @include sm {
          margin: 10px auto;
        }
      }
      @include sm {
        text-align: center;
      }
    }
    &__text {
      font-size: 16px;
      line-height: 22px;
      font-weight: 500;
      color: $night-grey;
      @include sm {
        text-align: center;
      }
    }
  }
}

.contacts {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  @include md {
    flex-direction: column;
  }
  &__form {
    width: 38%;
    @include md {
      width: 100%;
      margin-bottom: 120px;
    }
    & > form > * {
      width: 100% !important;
    }
    textarea {
      width: 310px;
      border: none;
      border-radius: 10px;
      font-size: 20px;
      padding: 10px;
      color: $dark-grey;
      margin-bottom: 20px;
    }
    input[type="text"],
    input[type="email"] {
      border: none;
      padding: 0 20px;
      width: 310px;
      margin: 0 0 20px 0;
      height: 50px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      font-size: 20px;
      color: $dark-grey;
      @include md {
        margin-bottom: 20px;
      }
      @include sm {
        width: 280px;
      }
    }
  }
  &__maps {
    width: 55%;
    @include md {
      width: 100%;
    }
    &__text {
      margin-top: 10px;
      color: $light-blue;
    }
  }
}

.gmap {
  width: 500px;
  height: 390px;
  @include lg {
    width: 400px;
  }
  @include md {
    width: 100%;
  }
}

//=====================================================

/* form starting stylings ------------------------------- */
// .group {
//   position: relative;
//   margin-bottom: 45px;
//   width: 410px;
//   @include lg {
//     width: 300px;
//   }
// }

// input {
//   color: $white;
//   background: transparent;
//   font-size: 18px;
//   padding: 10px 10px 10px 5px;
//   display: block;
//   width: 100%;
//   border: none;
//   border-bottom: 2px solid orangered;
// }
// input:focus {
//   outline: none;
// }

// /* LABEL ======================================= */
// label {
//   color: #999;
//   font-size: 18px;
//   font-weight: normal;
//   position: absolute;
//   pointer-events: none;
//   left: 5px;
//   top: 10px;
//   transition: 0.2s ease all;
//   -moz-transition: 0.2s ease all;
//   -webkit-transition: 0.2s ease all;
// }

// /* active state */
// input:focus ~ label,
// input:valid ~ label {
//   top: -20px;
//   font-size: 14px;
//   color: #5264ae;
// }

// /* BOTTOM BARS ================================= */
// .bar {
//   position: relative;
//   display: block;
//   width: 100%;
// }
// .bar:before,
// .bar:after {
//   content: "";
//   height: 2px;
//   width: 0;
//   bottom: 0px;
//   position: absolute;
//   background: #5264ae;
//   transition: 0.2s ease all;
//   -moz-transition: 0.2s ease all;
//   -webkit-transition: 0.2s ease all;
// }
// .bar:before {
//   left: 50%;
// }
// .bar:after {
//   right: 50%;
// }

// /* active state */
// input:focus ~ .bar:before,
// input:focus ~ .bar:after {
//   width: 50%;
// }

// /* HIGHLIGHTER ================================== */
// .highlight {
//   position: absolute;
//   height: 60%;
//   width: 100px;
//   top: 25%;
//   left: 0;
//   pointer-events: none;
//   opacity: 0.5;
// }

// /* active state */
// input:focus ~ .highlight {
//   -webkit-animation: inputHighlighter 0.3s ease;
//   -moz-animation: inputHighlighter 0.3s ease;
//   animation: inputHighlighter 0.3s ease;
// }

// /* ANIMATIONS ================ */
// @-webkit-keyframes inputHighlighter {
//   from {
//     background: #5264ae;
//   }
//   to {
//     width: 0;
//     background: transparent;
//   }
// }
// @-moz-keyframes inputHighlighter {
//   from {
//     background: #5264ae;
//   }
//   to {
//     width: 0;
//     background: transparent;
//   }
// }
// @keyframes inputHighlighter {
//   from {
//     background: #5264ae;
//   }
//   to {
//     width: 0;
//     background: transparent;
//   }
// }

//=========================================================

.error {
  display: block;
  margin-bottom: 20px;
}

.g-recaptcha {
  margin-bottom: 20px;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 20px;
  @include md {
    padding: 0 20px;
  }
}

.my-carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  padding: 0 100px;
  @include md {
    padding: 0 40px;
  }
  @include sm {
    padding: 0 30px;
  }
}

.slider__prev {
  cursor: pointer;
  z-index: 1000;
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -40px;
  width: 70px !important;
  height: 70px !important;
  background: url(../img/back.svg) no-repeat center center;
  @include md {
    left: 20px;
    margin-top: -20px;
    width: 40px !important;
    height: 40px !important;
  }
  @include sm {
    left: -15px;
  }
}

.slider__next {
  cursor: pointer;
  z-index: 1000;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -40px;
  width: 70px !important;
  height: 70px !important;
  background: url(../img/back.svg) no-repeat center center;
  transform: rotate(180deg);
  @include md {
    right: 20px;
    margin-top: -20px;
    width: 40px !important;
    height: 40px !important;
  }
  @include sm {
    right: -15px;
  }
}

.list-item {
  width: 300px;
  height: 160px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -5px 6px 21px -12px rgba(0, 0, 0, 0.75);
}

.iframe-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
